node_modules/
dist/
.env.local
.env

checkpoint-backend/target/
checkpoint-backend/.mvn/
checkpoint-frontend/node_modules/
checkpoint-frontend/dist/
checkpoint-frontend/.env.local
.idea/
.vscode/
*.iml